<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% books.forEach(function(b) {%>
        <div>
            <a href="/books/<%= b.id %>" class="btn btn-primary"><%= b.title %></a>
        </div>
        <% }) %>  
    </div>
</div>

<%- include('../partials/footer') %>