<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% books.forEach(function(b) {%>
        <div>
            <%= b.title %>

        </div>
        <% }) %>  
    </div>
</div>


<%- include('../partials/footer') %>