<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center mb-3 mt-3">
        <h2 class="text-light">All Books</h2>
        <% books.forEach(function(b) {%>
        <div class="mb-3">
            <a href="/books/<%= b.id %>" class="btn btn-primary"><%= b.title %></a>
        </div>
        <% }) %>  
    </div>
</div>

<%- include('../partials/footer') %>