<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% books.forEach(function(b) {%>
        <div>
            <h5><%= b.title %></h5>
            <a href="/books/<%= b.id %>" class="btn btn-primary">More Info</a>
        </div>
        <% }) %>  
    </div>
</div>


<%- include('../partials/footer') %>